body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
.text-footer{
    width: 320px;
    padding: 10px;
    border: 5px ;
    margin: 0;
    margin-top: 12px;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    padding: 0;
}
footer{
    display: flex;
    z-index: 9;
    width: 100%;
    height: 100px;
    bottom: 0;
    margin-top: 5%;
    background-color: rgba(97, 97, 97, 1);
}
.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}
.video-bg__content {
    z-index: 2;
    color: #ffffff;
    font-size: 50px;
}
.main {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
}

header{
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(97, 97, 97, 1);
    
}
.logo-1{
    margin-left: 100px;
    margin-top: 5.5px;
}
.but1{
    margin-left: 180px;
    margin-top: -38.5px;
}
.but1 :hover{
    background: grey;
    color: white;
    box-shadow: 1px 5px 10px -5px black;
}
.but2{
    margin-left: 1500px;
    margin-top: -25px;
}
.but2 :hover{
    background: grey;
    color: white;
    box-shadow: 1px 5px 10px -5px black;
}
.but3{
    margin-left: 1700px;
    margin-top: -24px;
}
.but3 :hover{
    background: grey;
    color: white;
    box-shadow: 1px 5px 10px -5px black;
}

.buttons{
    display: inline-flex;
    border: 0.7px;
    border-radius: 10px;
    padding: 4.5px;
    width: 150px;
    align-items: center;
    justify-content: center;
}
main{
    z-index: 8;
}

.logo-2{
    
    margin-left: 100px;
    margin-top: 12px;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   }
   #copy{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
   #gl{
    text-decoration: none;
   }
   #ocnova{
       width: 1000px;
       height: 300px;
       align-items: center;
       
   }
   #h1{
       margin-top: 10%;
       display: flex;
       justify-content: center;
       font-size: 48px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   #t1{
       justify-content: center;
       display: flex;
       font-size: 20px;
       margin-top: 5%;
       
   }
   #cssvopros{
    width: 1000px;
    height: 1750px;
    align-items: center;
    
}
#h2{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#t2{
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}
#da{
    display: flex;
    width: 920px;
    height: 150px;
    background-color: rgb(107, 105, 105);
    border-radius: 20px;
}
#da1{
    display: flex;
    margin-top: 4%;
    margin-left: 7%;
}
#da2{
    display: flex;
    margin-top: 7%;
    margin-left: 0%;
}
#da3{
    display: flex;
    margin-top: 10%;
    margin-left: -8%;
}
#t3{
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}
#t4{
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}
#da11{
    display: flex;
    width: 920px;
    height: 100px;
    background-color: rgb(107, 105, 105);
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
}

#da4{
    display: flex;
    margin-top: 5%;
    
}
#t5{
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}
#t6{
    width: 840px;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    margin-right: 20%;
}
#img1{
    display: flex;
    justify-content: center; 
}
#t7{
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 0%;
    
}
#video{
    width: 1000px;
    height: 8300px;
    align-items: center;
    
}

#h3{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#t8{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v1{
    display: flex;
    justify-content: center;
}
#t9{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v2{
    display: flex;
    justify-content: center;
}
#t10{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v3{
    display: flex;
    justify-content: center;
}
#t11{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v4{
    display: flex;
    justify-content: center;
}
#t12{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v5{
    display: flex;
    justify-content: center;
}
#t13{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v6{
    display: flex;
    justify-content: center;
}
#t14{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v7{
    display: flex;
    justify-content: center;
}
#t15{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v8{
    display: flex;
    justify-content: center;
}
#t16{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v9{
    display: flex;
    justify-content: center;
}
#t17{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%;
    
}

#v10{
    display: flex;
    justify-content: center;
}
#t18{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10%; 
}

#v11{
    display: flex;
    justify-content: center;
}
#resu{
    width: 1000px;
    height: 2300px;
    align-items: center;   
}
#h4{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#zxc{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 10%;
}
#zxc1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 10%;
}
#zxxc{
    display: flex;
    justify-content: flex-start; 
}
#skill{
    border-radius: 20px;
}
#p1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 6%;
    height: 5px;
}
#href1{
    display: flex;
    font-size: 25px;
    margin-top: 5%;
    height: 5px;
    margin-left: 3%;
    
    
}
#problema{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#p123{
    display: flex;
    font-size: 25px;
    margin-left: 3%;
    height: 5px;
    margin-bottom: 30%;
}

#p22{
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    
}

#p2{
    justify-content: flex-start;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}
#p33{
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    
}
#p31{
    justify-content: flex-start;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}
#p44{
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    
}
#p41{
    justify-content: flex-start;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}
#zxc1p{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 10%;
}
#zxxcp{
    display: flex;
    justify-content: flex-start; 
}
#Result{
    border-radius: 20px;
}
#p1p{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 6%;
    height: 5px;
}
#href1p{
    display: flex;
    font-size: 25px;
    margin-top: 5%;
    height: 5px;
    margin-left: 3%;
    
    
}
#problema2{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#p123p{
    display: flex;
    font-size: 25px;
    margin-left: 3%;
    height: 5px;
    margin-bottom: 30%;
}
#p22p{
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    
}

#p2p{
    justify-content: flex-start;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}

#p31p{
    justify-content: flex-start;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}

#p41p{
    justify-content: flex-start;
    display: flex;
    font-size: 20px;
    margin-top: 5%;
    
}

.topbutton {
    z-index: 10;
    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    }
   .cursud{
        position: absolute;
        top: 2080px;
    }
    .cursud4{
        position: absolute;
        top: -152px;
    }
    .cursud2{
        position: absolute;
        top: 250px;
    }
    .cursud3{
        position: absolute;
        top: 10400px;
    }
    /* Оформление панели */
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -380px;
    background: rgb(107, 105, 105);;
    transition: all 0.5s;   
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 {
    display: inline-block;
}
.side-button-1 .side-b {
    height: 20px;
    width: 200px;
    position: fixed;
    top: 60px;
    left: 1600px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Тahoma, sans-serif;
    background: rgb(107, 105, 105);
    cursor: pointer; 
    border: 2px solid #BFE2FF;
    border-radius: 5px;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
    background: green;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
    background: red;
}
.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;    
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color: #FFF;
}
#pt11{
    color: #ffffff;
    position: absolute;
top: 190px;
font-size: 20px;
}
#pt22{
    color: #ffffff;
    position: absolute;
top: 140px;
font-size: 20px;
}
#pt33{
    color: #ffffff;
    position: absolute;
top: 240px;
font-size: 20px;
}
#pt44{
    color: #ffffff;
    position: absolute;
top: 90px;
font-size: 20px;
}
