body{
    margin: 0;
    padding: 0;

}
header{
    height: 60px;
    background-color: rgba(97, 97, 97, 1);
    
}
footer{
    width: 100%;
    height: 100px;
    bottom: 0;
    position: absolute;
    background-color: rgba(97, 97, 97, 1);
}
#copy{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 2880px) and (max-height: 1540px) {
    .logo-1{
        margin-left: 100px;
        margin-top: 5.5px;
    }
    #gl{
        text-decoration: none;
    }
    .but1{
        margin-left: 180px;
        margin-top: -38.5px;
    }
    .but1 :hover{
        background: grey;
        color: white;
        box-shadow: 1px 5px 10px -5px black;
    }
    .but2{
        margin-left: 2485px;
        margin-top: -25px;
    }
    .but2 :hover{
        background: grey;
        color: white;
        box-shadow: 1px 5px 10px -5px black;
    }
    .but3{
        margin-left: 2653px;
        margin-top: -24px;
        border: 0;
    }
    .but3 :hover{
        background: grey;
        color: white;
        box-shadow: 1px 5px 10px -5px black;
    }
    .buttons{
        display: inline-flex;
        border: 0.7px;
        border-radius: 10px;
        padding: 4.5px;
        width: 150px;
        align-items: center;
        justify-content: center;
    }
    .logo-2{
        margin-left: 100px;
        margin-top: 12px;
    }
    .text-footer{
        width: 320px;
        padding: 10px;
        border: 5px ;
        margin: 0;
        margin-top: -80px;
        margin-left: 220px;
        color: white;
        padding: 0;
    }
    .itc-slider {
        position: relative;
      }
      
      .itc-slider__wrapper {
        overflow: hidden;
      }
      
      .itc-slider__items {
        display: flex;
        transition: transform 0.5s ease;
        will-change: transform;
      }
      
      .itc-slider__transition-none {
        transition: none;
      }
      
      .itc-slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        user-select: none;
        will-change: transform;
      }
      
      /* кнопки влево и вправо */
      .itc-slider__btn {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 50px;
        color: #fff;
        text-align: center;
        background: rgb(0 0 0 / 20%);
        border: none;
        transform: translateY(-50%);
        cursor: pointer;
      }
      
      .itc-slider__btn_hide {
        display: none;
      }
      
      .itc-slider__btn_prev {
        left: 0;
      }
      
      .itc-slider__btn_next {
        right: 0;
      }
      
      .itc-slider__btn:hover,
      .itc-slider__btn:focus {
        color: #fff;
        text-decoration: none;
        background: rgb(0 0 0 / 30%);
        outline: 0;
      }
      
      .itc-slider__btn::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
      }
      
      .itc-slider__btn_prev::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      }
      
      .itc-slider__btn_next::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      }
            
      .itc-slider__indicator_active {
        background-color: rgb(255 255 255 / 90%);
      }
      .container {
        max-width: 900px;
        margin: 0 auto;
      }
  
      .itc-slider__items {
        counter-reset: slide;

      }
  
      .itc-slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        counter-increment: slide;
        height: 370px;
        position: relative;
        
      }
  
      .itc-slider__item::before {
        content: counter(slide) "/5";
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-style: italic;
        font-size: 32px;
        font-weight: bold;
        display: block;
      }
  
      .itc-slider__item:nth-child(1) {
        background-color: #f44336;
      }
  
      .itc-slider__item:nth-child(2) {
        background-color: #9c27b0;
      }
  
      .itc-slider__item:nth-child(3) {
        background-color: #3f51b5;
      } 
}
@media screen and (max-width: 1920px) and (max-height: 1080px) {
    .logo-1{
        margin-left: 100px;
        margin-top: 5.5px;
    }
    #gl{
        text-decoration: none;
    }
    .but1{
        margin-left: 180px;
        margin-top: -38.5px;
    }
    .but1 :hover{
        background: grey;
        color: white;
        box-shadow: 1px 5px 10px -5px black;
    }
    .but2{
        margin-left: 1500px;
        margin-top: -25px;
    }
    .but2 :hover{
        background: grey;
        color: white;
        box-shadow: 1px 5px 10px -5px black;
    }
    .but3{
        margin-left: 1700px;
        margin-top: -24px;
    }
    .but3 :hover{
        background: grey;
        color: white;
        box-shadow: 1px 5px 10px -5px black;
    }
    .buttons{
        display: inline-flex;
        border: 0.7px;
        border-radius: 10px;
        padding: 4.5px;
        width: 150px;
        align-items: center;
        justify-content: center;
    }
    .logo-2{
    
        margin-left: 100px;
        margin-top: 12px;
    }
    
    .text-footer{
        
        width: 320px;
        padding: 10px;
        border: 5px ;
        margin: 0;
        margin-top: -80px;
        margin-left: 220px;
        color: white;
        padding: 0;
        
    }
    .itc-slider {
      position: relative;
    }
    
    .itc-slider__wrapper {
      overflow: hidden;
    }
    
    .itc-slider__items {
      display: flex;
      transition: transform 0.5s ease;
      will-change: transform;
    }
    
    .itc-slider__transition-none {
      transition: none;
    }
    
    .itc-slider__item {
      flex: 0 0 100%;
      max-width: 100%;
      user-select: none;
      will-change: transform;
    }
    
    /* кнопки влево и вправо */
    .itc-slider__btn {
      position: absolute;
      top: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 50px;
      color: #fff;
      text-align: center;
      background: rgb(0 0 0 / 20%);
      border: none;
      transform: translateY(-50%);
      cursor: pointer;
    }
    
    .itc-slider__btn_hide {
      display: none;
    }
    
    .itc-slider__btn_prev {
      left: 0;
    }
    
    .itc-slider__btn_next {
      right: 0;
    }
    
    .itc-slider__btn:hover,
    .itc-slider__btn:focus {
      color: #fff;
      text-decoration: none;
      background: rgb(0 0 0 / 30%);
      outline: 0;
    }
    
    .itc-slider__btn::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }
    
    .itc-slider__btn_prev::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    
    .itc-slider__btn_next::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
          
    .itc-slider__indicator_active {
      background-color: rgb(255 255 255 / 90%);
    }
    .container {
      max-width: 900px;
      margin: 0 auto;
    }

    .itc-slider__items {
      counter-reset: slide;

    }

    .itc-slider__item {
      flex: 0 0 100%;
      max-width: 100%;
      counter-increment: slide;
      height: 340px;
      position: relative;
      
    }

    .itc-slider__item::before {
      content: counter(slide) "/5";
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      font-style: italic;
      font-size: 32px;
      font-weight: bold;
      display: block;
    }

    .itc-slider__item:nth-child(1) {
      background-color: #f44336;
    }

    .itc-slider__item:nth-child(2) {
      background-color: #9c27b0;
    }

    .itc-slider__item:nth-child(3) {
      background-color: #3f51b5;
    }
    .img-html{
      margin-left: 0px;
      margin-top: 90px;
    }
    .img-css{
      margin-top: -175px;
      margin-left: 360px;
    }
    .img-js{
      margin-top: -175px;
      margin-left: 725px;
    }
}
